.card {
  background-color: var(--alternative-background-color);
  border: solid 0.2rem var(--primary-color);
  border-radius: 2rem;
  height: 10rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-text {
  text-align: justify;
}
.icon-card {
  height: 7.5rem;
}
.highlighted {
  color: var(--primary-color);
  font-weight: normal;
}
.profile-photo {
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 50%;
}
.huge-text {
  font-size: 4rem;
}
.icon-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.icon {
  height: 4rem;
  cursor: pointer;
}

@media (max-width: 767px) {
  .card {
    height: fit-content;
  }
  .profile-photo {
    height: 10rem;
  }
  .icon-card {
    height: 7.5rem;
  }
}
