<div class="container p-0 complete pb-4">
  <div class="row m-0 justify-content-center">
    <h1 class="text-center my-5">
      {{ "about.more" | translate }}
      <b class="text-primary">{{ "about.about" | translate }}</b>
      {{ "about.me" | translate }}
    </h1>
  </div>
  <div class="row m-0 justify-content-center">
    <div class="col col-xl-10 p-0">
      <div
        class="row g-lx-4 my-auto mx-0 justify-content-center align-items-center gy-3 gy-sm-1"
      >
        <div class="col-12 col-md-9 p-0 p-sm-1 p-md-2">
          <div class="card">
            <p class="m-0 card-text">
              {{ "about.intro.part1" | translate }}
              <b class="highlighted">{{ "about.intro.part2" | translate }}</b>
              {{ "about.intro.part3" | translate }}
              <b class="highlighted">{{ "about.intro.part4" | translate }}</b>
              {{ "about.intro.part5" | translate }}
              <b class="highlighted">{{ "about.intro.part6" | translate }}</b>
              {{ "about.intro.part7" | translate }}
              <b class="highlighted">{{ "about.intro.part8" | translate }}</b
              >.
            </p>
          </div>
        </div>
        <div class="col-6 col-sm-5 col-md-3 p-0 p-sm-1 p-md-2">
          <div class="card row m-0 text-center align-content-center">
            <p class="col-12 p-0 m-0 huge-text highlighted">1+</p>
            <p class="col-12 p-0 m-0">{{ "about.years" | translate }}</p>
            <p class="col-12 p-0 m-0">{{ "about.experience" | translate }}</p>
          </div>
        </div>
        <div class="col-6 col-sm-5 col-md-3 p-0 p-sm-1 p-md-2">
          <div class="card">
            <img
              src="assets/profile-photo.jpeg"
              alt="Profile photo"
              class="profile-photo"
            />
          </div>
        </div>
        <div class="col-12 col-md-9 p-0 p-sm-1 p-md-2">
          <div class="card">
            <p class="m-0 card-text">
              {{ "about.hobbies.part1" | translate }}
              <b class="highlighted">{{ "about.hobbies.part2" | translate }}</b>
              {{ "about.hobbies.part3" | translate }}
              <b class="highlighted">{{ "about.hobbies.part4" | translate }}</b
              >.
            </p>
          </div>
        </div>
        <div class="col-3 col-md-2 p-0 p-sm-1 p-md-2">
          <div class="card icon-card">
            <div class="icon-container text-center">
              <img class="visible-icon icon" [src]="iconsPath + 'github.svg'" />
              <a href="https://github.com/wacb14" target="_blank">
                <img
                  class="hidden-icon icon"
                  [src]="iconsPath + 'c_github.svg'"
                />
              </a>
              <h5 class="m-0 mt-3">{{ "about.repository" | translate }}</h5>
            </div>
          </div>
        </div>
        <div class="col-3 col-md-2 p-0 p-sm-1 p-md-2">
          <div class="card icon-card">
            <div class="icon-container text-center">
              <img class="visible-icon icon" [src]="iconsPath + 'platzi.svg'" />
              <a href="https://platzi.com/p/wacb14/" target="_blank">
                <img
                  class="hidden-icon icon"
                  [src]="iconsPath + 'c_platzi.svg'"
                />
              </a>
              <h5 class="m-0 mt-3">{{ "about.courses" | translate }}</h5>
            </div>
          </div>
        </div>
        <div class="col-3 col-md-2 p-0 p-sm-1 p-md-2">
          <div class="card icon-card">
            <div class="icon-container text-center">
              <img class="visible-icon icon" [src]="iconsPath + 'duo.svg'" />
              <a
                href="https://www.duolingo.com/profile/WillyAldair"
                target="_blank"
              >
                <img class="hidden-icon icon" [src]="iconsPath + 'c_duo.svg'" />
              </a>
              <h5 class="m-0 mt-3">
                {{ "about.languages" | translate }}
              </h5>
            </div>
          </div>
        </div>
        <div class="col-3 col-md-2 p-0 p-sm-1 p-md-2">
          <div class="card icon-card">
            <div class="icon-container text-center">
              <img
                class="visible-icon icon"
                [src]="iconsPath + 'spotify.svg'"
              />
              <a
                href="https://open.spotify.com/user/22gb7ztmxvsmw4c2ym6oi5umy"
                target="_blank"
              >
                <img
                  class="hidden-icon icon"
                  [src]="iconsPath + 'c_spotify.svg'"
                />
              </a>
              <h5 class="m-0 mt-3">{{ "about.music" | translate }}</h5>
            </div>
          </div>
        </div>
        <!-- <div class="col-3 col-md-2 p-0 p-sm-1 p-md-2">
          <div class="card icon-card"></div>
        </div>
        <div class="col-3 col-sm-2 p-0 p-sm-1 p-md-2">
          <div class="card icon-card"></div>
        </div> -->
      </div>
    </div>
  </div>
</div>
