.navbar {
  background-color: var(--black-color);
  position: sticky;
  top: 0;
  left: 0;
}
.navbar-list {
  list-style: none;
}
.navbar-item {
  align-content: center;
  cursor: pointer;
}
.navbar-link {
  outline-style: none;
  text-decoration: none;
  color: var(--secondary-color);
}
.navbar-link:hover,
.navbar-link:active {
  color: var(--primary-color);
}
.menu-button {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    height: 10vh;
  }
  .menu-container {
    position: fixed;
    left: 0;
    height: 90vh;
    top: 10vh;
    background-color: var(--black-color);
    width: 50%;
    transform: translate(-100%);
    transition: transform 0.5s ease;
  }
  .navbar-list{
    height: 100%;
  }
  .menu-button {
    display: block;
  }
  .menu-visible {
    transform: translate(0%);
  }
}
