<nav class="navbar w-100">
  <div class="py-4 menu-button">
    <button (click)="menu()">Menu</button>
  </div>
  <div class="container text-center h-100 p-0">
    <ul
      class="navbar-list row row-cols-1 row-cols-md-5 g-md-1 p-0 py-md-4 m-0"
      [ngClass]="menuVisible ? 'menu-visible' : ''"
    >
      <li class="navbar-item col">
        <a class="navbar-link" href="#home">Home</a>
      </li>
      <li class="navbar-item col">
        <a class="navbar-link" href="#about">About</a>
      </li>
      <li class="navbar-item col">
        <a class="navbar-link" href="#skills">Skills</a>
      </li>
      <li class="navbar-item col">
        <a class="navbar-link" href="#projects">Projects</a>
      </li>
      <li class="navbar-item col">
        <a class="navbar-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
