<nav class="navbar w-100">
  <div class="container text-center h-100">
    <ul class="navbar-list row h-100 p-0">
      <li class="navbar-item col"><a class="navbar-link" href="#here">Home</a></li>
      <li class="navbar-item col">
        <a class="navbar-link" href="">About</a>
      </li>
      <li class="navbar-item col">
        <a class="navbar-link" href="">Skills</a>
      </li>
      <li class="navbar-item col">
        <a class="navbar-link" href="">Projects</a>
      </li>
      <li class="navbar-item col">
        <a class="navbar-link" href="">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<div class="space"></div>
