.navbar {
  background: linear-gradient(black, var(--black-color));
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}
.navbar-list {
  list-style: none;
}
.navbar-item {
  align-content: center;
  cursor: pointer;
}
.navbar-link {
  outline-style: none;
  text-decoration: none;
  color: var(--secondary-color);
}
.navbar-link:hover,
.navbar-link:active {
  color: var(--primary-color);
}
.active-link {
  color: var(--primary-color);
}
.menu-hidden {
  display: none;
}
.btn-menu {
  color: var(--secondary-color);
  font-size: 1.8rem;
  border: solid var(--secondary-color) 0.1rem;
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  transition: border 0.1s ease;
}
.btn-menu--active {
  color: var(--primary-color);
  border: solid var(--primary-color) 0.2rem;
}

@media (max-width: 768px) {
  .navbar {
    height: 10vh;
  }
  .menu-container {
    position: fixed;
    left: 0;
    height: 90vh;
    top: 10vh;
    background: linear-gradient(to right, black, var(--black-color));
    width: 55%;
    transform: translate(-100%);
    transition: transform 0.5s ease;
  }
  .navbar-list {
    height: 100%;
  }
  .menu-hidden {
    display: flex;
    align-items: center;
    justify-items: start;
  }
  .menu-visible {
    transform: translate(0%);
  }
}
