.card {
    background-color: var(--primary-color);
    border-radius: 1.25rem;
    height: 11rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-text {
    text-align: justify;
}
.profile-photo {
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 50%;
}
.huge-text {
    font-size: 4rem;
}
