<div class="container p-0 complete">
    <div class="row m-0 justify-content-center">
        <h1 class="text-center w-fit my-5">More</h1>
        <h1 class="text-center w-fit my-5 text-main">About</h1>
        <h1 class="text-center w-fit my-5">Me</h1>
    </div>
    <div class="row m-0 justify-content-center">
        <div class="col col-xl-10 p-0">
            <div class="row g-lx-4 my-auto mx-0 justify-content-center">
                <div class="col-12 col-sm-9 p-0 p-sm-1 p-md-2">
                    <div class="card">
                        <p class="m-0 card-text">Expert in developing dynamic and scalable user interfaces using
                            Angular, TypeScript, Bootstrap, and Angular Material. At the backend level, I have solid
                            experience in creating RESTful APIs with .NET and Entity Framework Core. I am also
                            proficient in agile methodologies such as SCRUM.</p>
                    </div>
                </div>
                <div class="col-6 col-sm-3 p-0 p-sm-1 p-md-2">
                    <div class="card">
                        <img src="../../../assets/profile-photo.jpeg" alt="Profile photo" class="profile-photo">
                    </div>
                </div>
            </div>
            <div class="row g-lx-4 my-auto mx-0 justify-content-center">
                <div class="col-6 col-sm-3 p-0 p-sm-1 p-md-2">
                    <div class="card row m-0 text-center align-content-center">
                        <p class="col-12 p-0 m-0 huge-text">1+</p>
                        <p class="col-12 p-0 m-0">Year of</p>
                        <p class="col-12 p-0 m-0">Experience</p>
                    </div>
                </div>
                <div class="col-6 col-sm-3 p-0 p-sm-1 p-md-2">
                    <div class="card"></div>
                </div>
                <div class="col-12 col-sm-6 p-0 p-sm-1 p-md-2">
                    <div class="card"></div>
                </div>
            </div>
            <div class="row g-lx-4 my-auto mx-0 justify-content-center">
                <div class="col-3 p-0 p-sm-1 p-md-2">
                    <div class="card"></div>
                </div>
                <div class="col-3 p-0 p-sm-1 p-md-2">
                    <div class="card"></div>
                </div>
                <div class="col-3 p-0 p-sm-1 p-md-2">
                    <div class="card"></div>
                </div>
                <div class="col-3 p-0 p-sm-1 p-md-2">
                    <div class="card"></div>
                </div>
            </div>
        </div>
    </div>
</div>