<div class="container p-0">
    <div class="row m-0 my-5 text-center justify-content-center">
      <div class="w-fit my-5" id="photoContainer">
        <div class="photo-border">
          <img src="../../../assets/profile-photo.jpeg" alt="profile-photo" class="profile-photo" />
        </div>
      </div>
      <div class="w-fit my-5">
        <div class="row text-center">
          <div class="col-12 p-0">
            <h1 class="text-primary">Hi there! I'm Aldair Cruz Béjar</h1>
            <h2>Full Stack developer</h2>
          </div>
          <div class="col-12 p-0">
            <button>Download CV</button>
            <button>Contact me</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0 my-5">
      <h3>
        Frontend Development | Backend Development | Competitive Coding | Problem
        Solving
      </h3>
    </div>
  </div>