<div class="container p-0 complete d-flex align-items-center">
  <div class="row m-0">
    <div class="row m-0 my-1 my-sm-2 my-md-3 my-xl-5 text-center justify-content-center">
      <div class="w-fit my-1 my-sm-2 my-md-3 my-xl-5" id="photoContainer">
        <div class="photo-border">
          <img src="../../../assets/profile-photo.jpeg" alt="profile-photo" class="profile-photo" />
        </div>
      </div>
      <div class="col-12 col-xl-7 my-1 my-sm-2 my-md-3 my-xl-5">
        <div class="row text-center">
          <div class="col-12 p-0">
            <h1>Hi there!</h1>
            <h1 class="text-primary">I'm Aldair Cruz Béjar</h1>
            <h2>Full Stack developer</h2>
          </div>
          <div class="col-12 p-0">
            <div class="row justify-content-center m-0 mt-sm-2 mt-md-3 mt-xl-4">
              <div class="col-12 col-md-5 col-lg-4 col-xl-5 p-0">
                <a href="mailto:aldair10@gmail.com" class="btn-link mb-2 mb-md-0"><i class="bi bi-envelope-at" target="_blank"></i>
                  Contact
                  me</a>
              </div>
              <div class="col-12 col-md-5 col-lg-4 col-xl-5 p-0">
                <a href="https://www.linkedin.com/in/willyaldaircruzbejar/" class="btn-link mt-2 mt-md-0"
                  target="_blank"><i class="bi bi-linkedin"></i> LinkedIn</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 h-fit m-0 my-1 my-sm-2 my-md-3 my-xl-4 text-center">
      <h3 class="continuous-text m-0 mt-3 mt-md-0 virtue">Frontend Development</h3>
      <h3 class="separator mx-2 continuous-text hidden-sm">|</h3>
      <h3 class="continuous-text m-0 mt-3 mt-md-0 virtue">Backend Development</h3>
      <h3 class="separator mx-2 continuous-text hidden-md">|</h3>
      <h3 class="continuous-text m-0 mt-3 mt-md-0 virtue">Competitive Coding</h3>
      <h3 class="separator mx-2 continuous-text hidden-sm">|</h3>
      <h3 class="continuous-text m-0 mt-3 mt-md-0 virtue">Problem Solving</h3>
    </div>
  </div>
</div>