@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#photoContainer {
  position: relative;
  z-index: 1;
}
.profile-photo {
  aspect-ratio: 1/1;
  width: var(--photo-size);
  height: var(--photo-size);
  border-radius: 50%;
}
.text-primary {
  color: var(--primary-color);
}
.photo-border {
  position: relative;
  border-radius: 50%;
  z-index: auto;
  width: var(--photo-size);
  height: var(--photo-size);
}
.photo-border::after,
.photo-border::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    transparent 50%,
    var(--primary-color)
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 0.5rem;
  border-radius: 50%;
  animation: 15s spin linear infinite;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

.photo-border::before {
  filter: blur(1.5em);
  opacity: 0.7;
}

.btn-link {
  border: solid 0.2rem var(--secondary-color);
  color: var(--secondary-color);
  font-size: 1.35rem;
  background-color: var(--alternative-background-color);
  border-radius: 3rem;
  padding: 1rem;
  width: 12rem;
  font-family: inherit;
  display:inline-block;
  text-decoration: none;
}
.btn-link:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
}
.continuous-text {
  display: inline-block;
}
.separator {
  color: var(--primary-color);
}
@media (min-width: 1200px) {
  .complete {
    height: 93vh;
  }
}
@media (max-width: 992px) {
  .hidden-md {
    display: none;
  }
}
@media (max-width: 768px) {
  .virtue {
    display: block;
  }
  .hidden-sm {
    display: none;
  }
}
@media (max-width: 576px) {
  .photo-border,
  .profile-photo {
    --photo-size: 18rem;
  }
}
