<div class="container p-0">
  <div class="row m-0 justify-content-center">
    <h1 class="text-center my-5">
      My <b class="text-primary">{{ "projects.latest" | translate }}</b>
      {{ "projects.projects" | translate }}
    </h1>
  </div>
  <div class="row m-0 justify-content-center">
    <div
      class="col-12 col-lg-6 col-xl-5 p-0 px-3 card-container d-flex justify-content-center align-items-center"
    >
      <div class="card">
        <img
          src="assets/projects/macro_tracker.png"
          alt="project demo"
          class="card-image"
        />
      </div>
    </div>
    <div
      class="col-12 col-md-7 col-lg-6 col-xl-5 p-0 px-3 d-flex align-items-center"
    >
      <div class="card-body">
        <h2 class="card-title">Macro Tracker</h2>
        <div class="my-3 d-flex">
          <span class="skill" id="angularSkill">
            <img
              [src]="iconsRoute + 'c_angular.svg'"
              alt="angular"
              class="icon"
            />
            Angular
          </span>
          <span class="skill" id="tailwindSkill">
            <img
              [src]="iconsRoute + 'c_tailwind.svg'"
              alt="tailwind"
              class="icon"
            />
            Tailwind
          </span>
        </div>
        <div class="my-3">
          {{ "projects.secondProjectDesc" | translate }}
        </div>
        <div class="my-3">
          <a
            href="https://github.com/wacb14/macro-tracker"
            class="btn-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-github"></i>
            {{ "projects.code" | translate }}
          </a>
          <a
            href="https://macrotracker-dc895.web.app/"
            class="btn-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-link-45deg"></i>
            {{ "projects.preview" | translate }}
          </a>
        </div>
      </div>
    </div>
    <div
      class="col-12 col-lg-6 col-xl-5 p-0 px-3 card-container d-flex justify-content-center align-items-center"
    >
      <div class="card">
        <img
          src="assets/projects/countryguesser.png"
          alt="project demo"
          class="card-image"
        />
      </div>
    </div>
    <div
      class="col-12 col-md-7 col-lg-6 col-xl-5 p-0 px-3 d-flex align-items-center"
    >
      <div class="card-body">
        <h2 class="card-title">Countryguesser</h2>
        <div class="my-3 d-flex">
          <span class="skill" id="angularSkill">
            <img
              [src]="iconsRoute + 'c_angular.svg'"
              alt="angular"
              class="icon"
            />
            Angular
          </span>
          <span class="skill" id="bootstrapSkill">
            <img
              [src]="iconsRoute + 'c_bootstrap.svg'"
              alt="bootstrap"
              class="icon"
            />
            Bootstrap
          </span>
          <span class="skill" id="jQuerySkill">
            <img
              [src]="iconsRoute + 'c_jquery.svg'"
              alt="jquery"
              class="icon"
            />
            JQuery
          </span>
          <span class="skill" id="firebaseSkill">
            <img
              [src]="iconsRoute + 'c_firebase.svg'"
              alt="firebase"
              class="icon"
            />
            Firebase
          </span>
        </div>
        <div class="my-3">
          {{ "projects.firstProjectDesc" | translate }}
        </div>
        <div class="my-3">
          <a
            href="https://github.com/wacb14/countryguesser"
            class="btn-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-github"></i>
            {{ "projects.code" | translate }}
          </a>
          <a
            href="https://countryguesser-effc3.web.app/"
            class="btn-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-link-45deg"></i>
            {{ "projects.preview" | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
