<div class="container p-0">
    <div class="row m-0 justify-content-center">
        <h1 class="text-center w-fit my-5">My</h1>
        <h1 class="text-center w-fit my-5 text-primary">Latest</h1>
        <h1 class="text-center w-fit my-5">Projects</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 m-0 justify-content-center">
        <div class="col d-flex justify-content-center align-items-center p-0 pt-5 card-container">
            <div class="card">
                <div class="card-content"></div>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center p-0 pt-5 card-container">
            <div class="card">
                <div class="card-content"></div>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center p-0 pt-5 card-container">
            <div class="card">
                <div class="card-content"></div>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center p-0 pt-5 card-container">
            <div class="card">
                <div class="card-content"></div>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center p-0 pt-5 card-container">
            <div class="card">
                <div class="card-content"></div>
            </div>
        </div>
    </div>
</div>