<div class="container-fluid p-0 m-0 background-page">
    <app-navbar></app-navbar>
    <app-home-page id="home"></app-home-page>
    <hr class="horizontal-separator">
    <app-about-page id="about"></app-about-page>
    <hr class="horizontal-separator">
    <app-skills-page id="skills"></app-skills-page>
    <hr class="horizontal-separator">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod molestias aut
    qui quos alias, distinctio doloremque nostrum reprehenderit exercitationem
    fugiat? Minima repudiandae eaque similique incidunt. Dolore nisi numquam
    mollitia dolores, temporibus commodi iusto explicabo voluptas tempore
    laboriosam veniam repudiandae consectetur necessitatibus? Cum ex, ipsam nihil
    temporibus debitis laboriosam eligendi dignissimos ab, ea, praesentium
    aperiam! Magni molestiae quibusdam optio explicabo quaerat, sequi praesentium
    accusantium quia quisquam doloribus facere modi perferendis unde eius nisi ex
    commodi odit deleniti debitis blanditiis natus repellendus. Ea laboriosam
    placeat earum, accusantium nesciunt temporibus modi ipsa nemo quam. Delectus
    voluptatum autem molestias quidem molestiae perferendis cumque vel
    repudiandae, quo quos corrupti labore sunt dolor aliquid accusamus nulla ipsa!
    Quae fugiat asperiores consectetur quis molestiae sequi quibusdam quidem
    debitis ex odio voluptates commodi, animi laudantium at ipsa tempore earum
    harum rerum beatae maiores odit. Nemo assumenda sequi soluta libero aliquid
    illo quis consequuntur, cumque impedit fugiat repellendus, quaerat debitis in
    repudiandae, voluptatibus atque veritatis mollitia recusandae id nulla ex
    incidunt omnis! Provident cumque voluptas, atque porro tempore inventore
    libero distinctio natus. Quod nam quo vel adipisci harum optio distinctio,
    laudantium debitis repellendus exercitationem, repudiandae, hic nisi iure
    consectetur dolores. Hic aut suscipit fugiat numquam corporis nihil eum cum
    eaque illum necessitatibus eligendi illo, itaque incidunt nobis dignissimos,
    eveniet officiis ducimus laboriosam eos perferendis vel. Sapiente, asperiores.
    Quod facere rem cum ipsam cupiditate, eos blanditiis repellat? Eveniet ducimus
    doloremque ullam quaerat exercitationem magnam, corporis laboriosam. Libero
    magni aperiam vitae et? Explicabo assumenda facilis perspiciatis, corrupti
    culpa modi quibusdam perferendis enim fugit, inventore a, eaque nobis ducimus
    in! Laborum illum nulla quidem nemo qui enim. Praesentium sapiente quam,
    veniam architecto error expedita ratione explicabo ut, pariatur odit eos qui
    molestias officiis at minima, tempore reiciendis. Vero, tenetur quasi esse
    nemo quas, veritatis ducimus cum nisi officiis suscipit dolorum voluptatibus
    tempora culpa, soluta autem libero maxime natus magni vel obcaecati! Modi, eos
    perferendis odio culpa dolores, beatae accusamus porro ad tempore quod dolore.
    Alias pariatur, eos qui officia quae eaque repellat dolores nobis quisquam et
    quia nihil exercitationem eligendi? Quae libero impedit corrupti aperiam natus
    dolores repellendus cupiditate, fuga magnam fugit facilis, autem doloribus
    doloremque qui accusantium accusamus iusto repudiandae provident sit laborum
    asperiores nobis, voluptatem vel. Natus, ipsam praesentium! Accusamus laborum
    doloremque praesentium obcaecati dolore quia cupiditate incidunt eaque labore
    dolor animi architecto, explicabo nisi exercitationem ipsam ad debitis rem
    magnam omnis vero dicta. Eligendi natus aliquam, illo soluta culpa nam
    deleniti? Mollitia adipisci est doloremque, perferendis quaerat voluptates
    repellendus culpa assumenda ad, totam labore, nisi sint qui alias ullam? Harum
    ad placeat quibusdam reiciendis minus ipsa omnis, ea explicabo exercitationem
    architecto quisquam optio quia, inventore incidunt ut voluptatem repudiandae
    nisi modi. Accusamus saepe ipsum minima quaerat eligendi debitis, obcaecati
    rem aliquid dolorem nobis possimus magni modi fuga nulla, itaque in voluptate
    quasi culpa earum ab neque? Dolore tempore vitae voluptas. Debitis quibusdam
    deserunt iure perspiciatis reiciendis vel nulla porro aperiam minima enim
    maiores itaque magnam ea quidem ad, assumenda omnis impedit quaerat eaque in
    tempora officiis? Facilis saepe odio dolores! Ab, cupiditate? Quam eius, qui
    quas aut, similique aspernatur perspiciatis reiciendis laudantium quos enim
    expedita? Sit nobis ratione accusamus eaque quibusdam vel deserunt porro quos,
    quod voluptatem praesentium fuga laudantium culpa necessitatibus, dolores
    atque veniam eum obcaecati esse consectetur. Amet, cum mollitia culpa atque
    sunt numquam odit in inventore voluptatum vitae magnam veniam magni, ab
    placeat ad quisquam non similique dignissimos eligendi. Cum explicabo minima
    alias dignissimos molestiae eligendi nesciunt dolorem saepe ut laudantium,
    quaerat quo maiores incidunt harum modi assumenda recusandae numquam veniam
    perferendis voluptates aut totam! Iusto suscipit molestias aliquam impedit
    voluptatum, quos voluptas atque ullam aut libero corrupti laboriosam, commodi
    excepturi a? Impedit enim maxime repellat aliquam voluptas eligendi
    aspernatur. Molestias similique consequatur suscipit aut id ullam error nemo,
    autem vel, minima expedita tempore libero omnis eius illum vero labore, earum
    saepe dignissimos distinctio adipisci. Cupiditate blanditiis obcaecati illo
    nulla alias sequi, hic libero dolorum minus ducimus nostrum aut ipsam
    delectus, quae rerum aspernatur dolore quas. Nemo doloribus dolores laborum
    perspiciatis id iusto consequuntur voluptas, natus quibusdam quod sint eaque
    quos est impedit quis eos nobis dolor quae sunt corrupti, nulla quas,
    assumenda molestias temporibus! Amet voluptatem, nihil iure, qui, ratione
    veniam recusandae voluptatum deserunt libero fugiat unde blanditiis cumque
    consectetur ullam praesentium porro? Voluptatum, velit sunt et, fugit nihil
    iste, nam maxime vitae quaerat eaque quasi quibusdam. Commodi accusantium quos
    tenetur temporibus, sunt, placeat facere sapiente consectetur rerum,
    cupiditate eos at! Tempore eius necessitatibus magni quasi dicta, magnam
    excepturi voluptas ratione consectetur adipisci obcaecati praesentium nobis.
    Molestias nihil nulla ipsam voluptas vitae earum tempora minima facere nostrum
    tempore incidunt ipsum eligendi quisquam, at deleniti necessitatibus enim
    placeat omnis facilis maxime ab assumenda velit laborum. Quam doloribus quas
    rem eum similique, aspernatur alias ipsa officia at, excepturi nihil
    reprehenderit dolorem? Debitis porro dolores architecto facere blanditiis eum,
    reiciendis illum rerum suscipit. Perspiciatis quia asperiores aliquam
    necessitatibus porro. Id, officia! Soluta ipsa, omnis ratione modi, molestiae
    repellat voluptatem inventore ut sed cumque voluptates impedit fugiat porro
    temporibus deleniti! Esse dolor, repudiandae dignissimos eaque maxime sequi
    consectetur omnis, tenetur quasi accusantium, quidem fuga commodi aut
    perspiciatis voluptas eum quam rerum. Sint eius doloremque fuga distinctio
    sapiente ab non, expedita dicta ut rem inventore odio incidunt, nobis nam
    eaque quo! At molestias quidem suscipit nisi nihil eligendi architecto
    voluptatum dolorem, expedita reiciendis, iusto, sunt enim quasi maxime
    consequatur nostrum error perferendis aspernatur iure. Veniam unde dolorum
    recusandae adipisci perspiciatis voluptatibus in tenetur fuga. Incidunt
    excepturi odit veritatis laborum tempore, exercitationem eos perferendis
    officiis fugiat, voluptate doloremque, laboriosam nemo unde quas dolor
    voluptatum consectetur quidem. Dolore asperiores tenetur possimus nulla soluta
    eveniet modi quibusdam quas quos architecto, quae sapiente ipsum eaque?
    Consequuntur suscipit perspiciatis quis? Totam odio officia repellendus
    excepturi provident velit quae. Eligendi eveniet maiores perferendis porro
    nesciunt blanditiis consequatur nihil asperiores minus dicta. Soluta iusto,
    provident dignissimos repellat consequatur quo odio ea dolore veniam maiores,
    suscipit tenetur quos ut quisquam similique iure. Quam placeat nam
    accusantium, modi repellendus illo nihil perferendis maxime blanditiis hic
    temporibus sapiente? Animi, minus.
</div>