/* You can add global styles to this file, and also import other style files */
:root {
  --background-color: #000000;
  --text-gray: #bababa;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Consolas';
    font-size: 1.4rem;
    margin: 0;
}
.text-center{
    text-align: center;
}
.h-100{
    height: 100%;
}
.w-100{
    width: 100%;
}
